* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8 , #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
}

.clock div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 150px;
    background: rgb(5, 5, 5, 0.9);
    color: azure;
    border-radius: 7px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    letter-spacing: 3px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}

.clock span.time {
    font-size: 13px;
}